{% extends "apitest/Header.html" %}
{% load static %}

{% block content %}

<div class="container-fluid panelClass" style="margin-bottom: 1vw; text-align: center; margin-left: 13vw; margin-right: 13vw;">
	<h3>Welcome to Brawl bay!</h3>
	<p style="text-transform: none; margin-left: 15vw; margin-right: 15vw;">Brawl Bay's mission is to help players become the best they can be by producing data about individual player habits, as well as presenting information about the game and the community surrounding it.</p>
	<br><br>
	<h4>About Brawlhalla</h4>
	<p style="text-transform: none; margin-left: 15vw; margin-right: 15vw; margin-bottom: 2vw">Brawlhalla is a completely free 2D brawler type fighting game that pits players against each other in timeless battle arenas. With over 30 unique playable legends to choose from, players compete in various game modes including 1v1, 2v2, and Free For All.</p>
</div>

<!--<div class="container-fluid panelClass" style="margin-bottom: 1vw; text-align: center;margin-left: 13vw; margin-right: 13vw;">
	<h3>ANOTHER TITLE</h3>
	<p style="text-transform: none;"></p>
</div>-->

<script type="text/javascript">

</script>

{% endblock %}