<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'apitest/img/Icon.png' %}">
    <title>BrawlBay.com</title>
    <meta http-equiv="Content-Type" content="text/html;">
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">

    <link rel="stylesheet" type="text/css" href="{% static 'apitest/css/Header.css' %}">

    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Anton|Merriweather+Sans" rel="stylesheet">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Chart.js-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <!--Javascript-->

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83277161-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-83277161-1');
    </script>

    <style type="text/css">
      h2, h3, h5, h6 {
        font-family: 'Anton', sans-serif;
        text-decoration: underline;
        color: #ecc579;
      }

      h1 {
        font-family: 'Anton', sans-serif;
        text-decoration: underline;
        color: #e59e42;
      }

      h4 {
        font-family: 'Anton', sans-serif;
        color: #ecc579;
      }

      p {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 90%;
      }

      a {
        color: #ecc579;
        text-decoration: none;
      }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">
        <img src="{% static 'apitest/img/Logo3.png' %}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="/clans">Clans</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="http://www.brawlhalla.com/rankings/1v1/">Leaderboards</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <div id="content" class="mx-auto border border-dark rounded pb-3">
      {% block content %}
      {% endblock %}
      </div>
    </div>
    <footer>
      <div class="text-right p-2"><a href="http://www.CurtisHaynes.net">Devevloped by Curtis Haynes</a></div>
    </footer>
  </body>
</html>