{% extends "apitest/Header.html" %}
{% load static %}

{% block content %}

<div>
	<div class="panelDark rounded text-center">
		<img class="w-100" src="{% static 'apitest/img/HomeName.png' %}">
		<div class="mx-auto w-50">
			<form id="searchPlayerForm" method="get" action="ajax/getPlayer" class="form-inline py-3">
	        	<input id="searchPlayerName" class="form-control w-75" type="search" placeholder="Name, ID" name="ident" type="text">
	        	<button class="btn btn-outline-warning w-25" type="submit" data-toggle="modal" data-target="#playerModal"><i class="fas fa-search"></i></button>
	        </form>

			<div class="modal fade" id="playerModal" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div id="playerModalbody" class="modal-body">
			      	
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>

	<div class="panelDark rounded text-center mx-2 my-2 p-2">
		<h3>Top 6 Players</h3>
		<hr>
		<div class="row mx-auto">
			<div id="topLegend1" class="topLegendPanel col-sm-4 row mx-auto border border-dark"></div>

			<div id="topLegend2" class="topLegendPanel col-sm-4 row mx-auto border border-dark"></div>

			<div id="topLegend3" class="topLegendPanel col-sm-4 row mx-auto border border-dark"></div>
		</div>

		<div class="row mx-auto">
			<div id="topLegend4" class="topLegendPanel col-sm-4 row mx-auto border border-dark"></div>

			<div id="topLegend5" class="topLegendPanel col-sm-4 row mx-auto border border-dark"></div>

			<div id="topLegend6" class="topLegendPanel col-sm-4 row mx-auto border border-dark"></div>
		</div>
	</div>

	<div>
		<div class="row mx-auto">
			<div class="col-sm-6">
				<a height="500" class="twitter-timeline" href="https://twitter.com/Brawlhalla?ref_src=twsrc%5Etfw">Recent tweets by Brawlhalla</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>

			<div id="twitchContainer" class="col-sm-6"></div>
		</div>
	</div>
</div>
<head>
	<script type="text/javascript">
		var rank1v1_json = JSON.parse('{{ rank1v1_json_string | escapejs }}');
	</script>
	<script type="text/javascript" src="{% static 'apitest/js/Home.js' %}"></script>
</head>
{% endblock %}