{% load static %}

/* Media Queries */
@media(min-width: 576px) {
	#content {
		width: 100%;
	}
}

@media(min-width: 768px) {
	#content {
		width: 75%;
	}
}

/* Content */
body {
	padding-top: 70px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

hr {
	background-color: #8c8c8c;
}

footer {
	background-color: #01192f;
}

#content-wrapper {
	background-color: #01192f;
	color: white;
}

#content {
	background-color: rgba(14, 56, 72, 0.85);
}

.panelDark {
	background-color: #01192f;
}

.topLegendPanel {
	background-image: url("../img/top1BG.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #8c8c8c;
	filter: grayscale(100%);
	transition: 0.4s;
}

.topLegendPanel:hover {
	filter: grayscale(0%);
	cursor: pointer;
	color: white;
}

.modal a, .modal h2 {
	color: black;
}

#rankedOverview2v2 {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 45vh;
}

#legendDropDownMenu {
	height: 45vh;
	overflow-x: hidden;
}